@CHARSET "UTF-8";

.titre {
	background-color: blue;
}

.menu {
	background-color: yellow;
	padding-top: 10px;
}

.content {
	background-color: pink;
	padding-top: 10px;
}

.footer {
	background-color: green;
	font-style: italic;
	color: gray;
}

form input{
	width: 300px;
	height: 20px;
	padding: 5px 0px 5px 10px;
}

form label{
	display: inline-block;
	width: 150px;
	padding: 5px 0px 5px 10px;
}

form input[type="submit"]{
	width: 150px;
	height: 30px;
	margin: 5px 0px 30px 50px;
}

form input[type=radio]{
	height: 20px;
	width: 50px;
}

a{
	
	font-weight: bold;
}

tr{
	border: 1px solid black;
}

td, th{
	padding: 0.1em 1em 0.1em 1em;
}