@CHARSET "UTF-8";

body {
	background-color: #6b6b6b;
}

.titre {
	background-color: #e21005;
	color: white;
}

.connection {
	background-color: black;
	color: white;
}

.menu {
	padding-top: 10px;
	color: white;
}

.content {
	padding-top: 10px;
}

.footer {
	position: fixed;
	bottom: 0px;
	margin: 0;
	padding-right: 5px;
	background-color: black;
	font-style: italic;
	color: white;
	background-color: black;
}

p {
	color: white;
}

img {
	display : block;
	margin : auto;
}

form input {
	display: inline-block;
	width: 300px;
	height: 25px;
	padding: 10px 0px 5px 10px;
	background-color: #ff7575;
	color: white;
	vertical-align: middle;
	}

form label {
	width: 150px;
	height : 37px;
	padding: 5px 5px 5px 10px;
	color: white;
	margin : auto;
	text-align: justify;
	}

form legend {
	color: white;
}

form input[type="submit"] {
	width: 150px;
	height: 30px;
	background-color: white;
	padding: 5px 0px 5px 10px;
	color: black;
	margin: auto;
	text-align: center;
}

form input[type=radio] {
	height: 20px;
	width: 50px;
}

.montant {
	width: 100px;
	height: 20px;
	padding: 0px 0px 0px 0px;
}

a {
	font-weight: bold;
	color: white;
}

.ligne {
	font-weight: normal;
	color: white;
}

table {
	color: white;
}

tr {
	border: 1px solid #ff7575;
}

td, th {
	padding: 0.1em 1em 0.1em 1em;
}